---
Astro layout file
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><slot name="title" /></title>
    <meta name="description" content="..." />
  </head>
  <body>
    <slot />
  </body>
</html>